<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <marquee>M S DHONI </marquee>
        </h1>
        <p>
            The Captain Cool.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi aliquam
             nihil laborum deleniti vitae illum maiores 
            recusandae. Sunt et inventore iusto esse vitae magni vel iure, optio commodi, tenetur labore!
        </p>
    </center>
</body>
</html>