<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <marquee behavior="" direction="">KING KOHLI</marquee>
            <h2>THE RUN MACHINE</h2>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, praesentium iure quas sit
             at debitis tempore nobis deleniti
             nesciunt consequatur, a omnis? Maiores asperiores animi magni consequuntur rerum nesciunt distinctio.</p>
    </center>
</body>
</html>